/* Sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    overflow: hidden;
    transition: 0.8s all;
    max-width: 28rem;
    width: 5rem;
    z-index: 10124;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
  }

  .sidebar:hover {
    width: 15rem;
  }

  .sidebar:hover span {
    opacity: 1;
    /* margin-right: 1.2rem;
    width: max-content; */
  }

  .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important
  }


  .active i {
    color: white;
  }

  .active span {
    color: white;
  }

  .sidebar:hover a {
    justify-content: start;
  }

  span {
    opacity: 0;
    transition: 0.2s all ease-in-out;
    white-space: nowrap;
    width: 0%;
  }

  a {
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    transition: 0.2s all ease-in-out;
    height: 3.5rem;

  }

  i {
    font-size: 1.5rem;
    color: var(--primary-color);
    width: 2.4rem;
  }

  