<aside
  id="sidebarMenu"
  class="sidebar border-end border-1 shadow"
>    <a
      aria-current="true" routerLink="home"
    >
      <i class="fas fa-home fa-fw"></i><span>
        الرئيسية
      </span>
    </a>
    <a
    aria-current="true" routerLink="users"
  >
    <i class="fas fa-user fa-fw"></i><span>
      العملاء
    </span>
  </a>
    <a routerLink="vendors">
      <i class="fas fa-user-tie fa-fw"></i><span>
        مُقدمو الخدمة
      </span>
    </a>
    <a routerLink="categories">
        <i class="fas fa-layer-group fa-fw"></i>
        <span>
            فئات الخدمات
        </span>
      </a>

</aside>
