<!-- <div class="bg-black" style="height: 100px;"></div> -->
<!-- <header>
    <div class="header-parent container">
        <div class="header-contact">
            <div>
                <span>Marasem@gmail.com</span>
                <i class='bx bx-envelope'></i>
            </div>

            <div>
                <span>+201100557798</span>
                <i class='bx bx-phone'></i>
            </div>
        </div>

        <div class="header-social">
            <i class='bx bxl-instagram'></i>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-twitter'></i>
            <i class='bx bxl-linkedin'></i>
            <i class='bx bxl-youtube'></i>
        </div>
    </div>
</header> -->
<!--
<section class="Sec-1">
    <div class="container">
        <div class="row">
            <div class="wpo-section-title-s2 title-page">
                <h2>لنجعل لحظاتـكـ شيئــا لا ينسـى</h2>
                <div class="section-title-img for-round">
                    <div class="round-ball"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="left col-6">

            </div>
            <div class="right col-6 ">
                <img class="hero-img" src="./assets/img/hero/1.png" alt="">
            </div>
        </div>
    </div>
</section> -->

<!-- <nav class="navbar sticky-top navbar-expand-lg py-4">
    <div class="container">
        <div class="row">
            <div class="nav-logo col-2 d-flex flex-column justify-content-center">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <button class="navbar-toggler col-2 btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8 nav-items justify-content-end" id="navbarNav">
                <ul class="navbar-nav navbar-list align-items-center gap-5">
                    <li class="navbar-item">
                        <a class="nav-link" href="#">الرئيسية</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">الخدمات</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">من نحن</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">عملاؤنا</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">اتصل بنا</a>
                    </li>
                    <li class="navbar-item">
                        <button class="btn btn-outline-primary">الاستــعلام
                            الآن</button>
                    </li>
                </ul>
            </div>
             <div class="inquire col-2">
                <button class="btn btn-outline-primary">الاستــعلام الآن</button>
            </div>
        </div>
    </div>
</nav> -->

<main>
  <section class="Sec-2">
    <div class="container sec-con-2 d-flex gap-5">
      <div class="Sec2-t">
        <h1 style="text-align: center;">نحن أفضل منظمي حفلات
          الزفـــاف</h1>
        <p>
          نحن هنا لجعل لحظاتكم الخاصة لا تُنسى. باعتبارنا
          فريقًا من المحترفين في تنظيم الأفراح والمناسبات،
          نفخر بتقديم خدمات استثنائية تلبي توقعاتكم وتتجاوزها.
          سواء كنتم تبحثون عن مصورين مبدعين يلتقطون
          أجمل اللحظات أو عن أروع القاعات التي تلبي تصاميم
          أحلامكم، نحن هنا لنجعل رؤيتكم حقيقة. بفخر نقدم
          خدماتنا الاحترافية لنخلق أجواءً ساحرة وتجارب
          استثنائية. اتصلوا بنا اليوم ودعونا نبدأ في تحويل
          أحلامكم إلى واقع ساحر.
        </p>

        <button class="btn btn-outline-primary">المزيـد</button>
      </div>
      <div class="Sec2-imgs">
        <img class="S2-flower" src="./assets/img/thumb.png" alt>
        <div class="d-flex">
          <div class="S2-d-border">
            <img class="Sec2-img S2-img1" src="./assets/img/517jgNfKc-L._AC_SX466_.jpg" alt>
          </div>
          <div class="S2-d-border2">
            <img class="Sec2-img S2-img2"
              src="./assets/img/Large-wedding-square-127d187f9ffa966a69471c4661a7d516-608bff9815fb3.jpg" alt>
          </div>
        </div>
        <div>
          <img class="S2-branch" src="./assets/img/shape.png" alt>
        </div>
      </div>

    </div>
  </section>
  <!-- responsive 100% -->
  <section class="Sec-4 bg-white">
    <!-- head sections -->
    <div class="container">
      <div class="row">
        <div class="wpo-section-title-s2">
          <div class="section-title-simg">
            <img src="./assets/img/section-title2.png" alt>
          </div>
          <h2>قائمة المهام</h2>
          <div class="section-title-img">
            <div class="round-ball"></div>
          </div>
        </div>
      </div>
      <div class="wpo-event-wrap">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-event-item" id="funerals">
              <div class="wpo-event-text">
                <h2><a class="link-light text-decoration-none"
                    href="//yorkshirerosecelebrancy.co.uk/funerals.html">خدمــة 1</a></h2>
                <p>I provide support and advice during this
                  challenging period with a bespoke and
                  professional caring service that ensures
                  your loved one has a farewell that
                  reflects their life.
                </p>
              </div>
              <div class="event-shape-1">
                <img src="./assets/img/event-shape-1.png" alt>
              </div>
              <div class="event-shape-2">
                <img src="./assets/img/event-shape-2.png" alt>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-event-item" id="funerals">
              <div class="wpo-event-text">
                <h2><a class="link-light text-decoration-none"
                    href="//yorkshirerosecelebrancy.co.uk/funerals.html">خدمــة 2</a></h2>
                <p>I provide support and advice during this
                  challenging period with a bespoke and
                  professional caring service that ensures
                  your loved one has a farewell that
                  reflects their life.
                </p>
              </div>
              <div class="event-shape-1">
                <img src="./assets/img/event-shape-1.png" alt>
              </div>
              <div class="event-shape-2">
                <img src="./assets/img/event-shape-2.png" alt>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-event-item" id="funerals">
              <div class="wpo-event-text">
                <h2><a class="link-light text-decoration-none"
                    href="//yorkshirerosecelebrancy.co.uk/funerals.html">خدمــة 3</a></h2>
                <p>I provide support and advice during this
                  challenging period with a bespoke and
                  professional caring service that ensures
                  your loved one has a farewell that
                  reflects their life.
                </p>
              </div>
              <div class="event-shape-1">
                <img src="./assets/img/event-shape-1.png" alt>
              </div>
              <div class="event-shape-2">
                <img src="./assets/img/event-shape-2.png" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- responsive 100% -->
  <section class="Sec-4">
    <div class="container">
      <div class="row">
        <div class="wpo-section-title-s2">
          <div class="section-title-simg">
            <img src="./assets/img/section-title2.png" alt>
          </div>
          <h2>أعمـــالنا</h2>
          <div class="section-title-img">
            <div class="round-ball"></div>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="Sec4-parent d-flex flex-column gap-4">
          <div class="S-Frist d-flex gap-4 w-100 mb-2">
            <div class="img-1 w-100 h-100">
              <img class="w-100 h-100" src="./assets/img/our work/top-2.jpg" alt>
            </div>
            <div class="img-1 w-100 h-100">
              <img class="w-100 h-100" src="./assets/img/our work/bo-3.jpg" alt>
            </div>
            <div class="img-1 w-100 h-100">
              <img class="w-100 h-100" src="./assets/img/our work/top-3.jpg" alt>
            </div>
          </div>
          <div class="S-Second d-flex w-100 gap-4">
            <div class="S-img2 ">
              <img class="w-100 h-100" src="./assets/img/our work/bot-5.jpg" alt>
            </div>
            <div class="S-img1">
              <img class="w-100 h-100" src="./assets/img/our work/4e0cbdf591c04.jpg" alt>
            </div>
            <div class="S-img3 ">
              <img class="w-100 h-100" src="./assets/img/our work/bot-4.jpg" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- responsive 100% -->
  <section>
    <div class="container d-flex justify-content-center my-5">
      <div class="S5-parent d-flex w-100 p-5 gap-5">
        <div class="S5-text d-flex flex-column gap-4">
          <div class="row">
            <div class="wpo-section-title-s2 m-0">
              <div class="section-title-simg">
                <img src="./assets/img/section-title2.png" alt>
              </div>
              <h2>مــاذا يقــول عمـلانـا</h2>
              <div class="section-title-img">
                <div class="round-ball"></div>
              </div>
            </div>
          </div>
          <!-- <h1 class="mt-5 text-center">مــاذا يقــول عمـلانـا</h1> -->
          <h1 style="margin: 0;"><i class='bx bxs-quote-right'></i></h1>

          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div>
                  <p>
                    أود أن أعبر عن امتناني العميق وإعجابي بخدماتكم
                    المقدمة عبر موقعكم الإلكتروني لتنظيم الأفراح.
                    <br>
                    لقد كانت تجربتي مع فريقكم مذهلة من البداية وحتى
                    النهاية. لقد أثريتم فعلاً حفل مناسبتي بلمساتكم
                    السحرية والاحترافية. من التخطيط الدقيق إلى تنفيذ
                    كل التفاصيل بعناية فائقة، لقد أظهرتم مهاراتكم
                    الاستثنائية في جعل كل لحظة لا تُنسى.
                    <br>
                    أشكركم من القلب على جعل هذه المناسبة تجربة لا
                    تُنسى بالنسبة لي وللجميع الذين شاركوا فيها. أنا
                    واثق تمامًا من أنني سألجأ إلى خدماتكم مرة أخرى
                    في المستقبل، وسأوصي بكم لجميع من أعرفهم بحرفية
                    وإبداعكم.
                    <br>
                  </p>
                </div>
                <div class="customer d-flex gap-3 justify-content-center align-items-center">
                  <img class="Cust-profile" src="./assets/img/cust-img-profile2.jpg" alt>
                  <h3>حمـدى السيـد</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div>
                  <p>
                    أود أن أعبر عن امتناني العميق وإعجابي بخدماتكم
                    المقدمة عبر موقعكم الإلكتروني لتنظيم الأفراح.
                    <br>
                    لقد كانت تجربتي مع فريقكم مذهلة من البداية وحتى
                    النهاية. لقد أثريتم فعلاً حفل مناسبتي بلمساتكم
                    السحرية والاحترافية. من التخطيط الدقيق إلى تنفيذ
                    كل التفاصيل بعناية فائقة، لقد أظهرتم مهاراتكم
                    الاستثنائية في جعل كل لحظة لا تُنسى.
                    <br>
                    أشكركم من القلب على جعل هذه المناسبة تجربة لا
                    تُنسى بالنسبة لي وللجميع الذين شاركوا فيها. أنا
                    واثق تمامًا من أنني سألجأ إلى خدماتكم مرة أخرى
                    في المستقبل، وسأوصي بكم لجميع من أعرفهم بحرفية
                    وإبداعكم.
                    <br>
                  </p>
                </div>
                <div class="customer d-flex gap-3 justify-content-center align-items-center">
                  <img class="Cust-profile" src="./assets/img/cust-img-profile2.jpg" alt>
                  <h3>حمـدى السيـد</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div>
                  <p>
                    أود أن أعبر عن امتناني العميق وإعجابي بخدماتكم
                    المقدمة عبر موقعكم الإلكتروني لتنظيم الأفراح.
                    <br>
                    لقد كانت تجربتي مع فريقكم مذهلة من البداية وحتى
                    النهاية. لقد أثريتم فعلاً حفل مناسبتي بلمساتكم
                    السحرية والاحترافية. من التخطيط الدقيق إلى تنفيذ
                    كل التفاصيل بعناية فائقة، لقد أظهرتم مهاراتكم
                    الاستثنائية في جعل كل لحظة لا تُنسى.
                    <br>
                    أشكركم من القلب على جعل هذه المناسبة تجربة لا
                    تُنسى بالنسبة لي وللجميع الذين شاركوا فيها. أنا
                    واثق تمامًا من أنني سألجأ إلى خدماتكم مرة أخرى
                    في المستقبل، وسأوصي بكم لجميع من أعرفهم بحرفية
                    وإبداعكم.
                    <br>
                  </p>
                </div>
                <div class="customer d-flex gap-3 justify-content-center align-items-center">
                  <img class="Cust-profile" src="./assets/img/cust-img-profile2.jpg" alt>
                  <h3>حمـدى السيـد</h3>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- <div>
                            <p>
                                أود أن أعبر عن امتناني العميق وإعجابي بخدماتكم
                                المقدمة عبر موقعكم الإلكتروني لتنظيم الأفراح.
                                <br>
                                لقد كانت تجربتي مع فريقكم مذهلة من البداية وحتى
                                النهاية. لقد أثريتم فعلاً حفل مناسبتي بلمساتكم
                                السحرية والاحترافية. من التخطيط الدقيق إلى تنفيذ
                                كل التفاصيل بعناية فائقة، لقد أظهرتم مهاراتكم
                                الاستثنائية في جعل كل لحظة لا تُنسى.
                                <br>
                                أشكركم من القلب على جعل هذه المناسبة تجربة لا
                                تُنسى بالنسبة لي وللجميع الذين شاركوا فيها. أنا
                                واثق تمامًا من أنني سألجأ إلى خدماتكم مرة أخرى
                                في المستقبل، وسأوصي بكم لجميع من أعرفهم بحرفية
                                وإبداعكم.
                                <br>
                            </p>
                        </div>
                        <div
                            class="customer d-flex gap-3 justify-content-center align-items-center">
                            <img class="Cust-profile"
                                src="./assets/img/cust-img-profile2.jpg"
                                alt>
                            <h3>حمـدى السيـد</h3>
                        </div> -->
        </div>
        <div class="S5-d-border">
          <img class="Sec5-img S5-img1" src="./assets/img/what.jpg" alt>
        </div>
      </div>
    </div>
  </section>
  <!-- responsive 100% -->
  <section class="Sec-6">
    <div class="container">
      <div class="row">
        <div class="wpo-section-title-s2">
          <div class="section-title-simg">
            <img src="./assets/img/section-title2.png" alt>
          </div>
          <h2>الاكثـــر طلبـــا فـى موقعنــا</h2>
          <div class="section-title-img">
            <div class="round-ball"></div>
          </div>
        </div>
      </div>
      <div class="vendor-Div row row-cols-lg-4 row-cols-md-2 row-cols-1">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="vendor">
            <img src="./assets/img/vendor/p-1.jpg" alt>
          </div>
          <div class="my-3">
            <h2 class="text-center">محمـد عبد المنعـم</h2>
            <p class="text-center my-2">مصور فوتوغرافي</p>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="vendor">
            <img src="./assets/img/vendor/p-1.jpg" alt>
          </div>
          <div class="my-3">
            <h2 class="text-center">محمـد عبد المنعـم</h2>
            <p class="text-center my-2">مصور فوتوغرافي</p>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="vendor">
            <img src="./assets/img/vendor/p-1.jpg" alt>
          </div>
          <div class="my-3">
            <h2 class="text-center">محمـد عبد المنعـم</h2>
            <p class="text-center my-2">مصور فوتوغرافي</p>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="vendor">
            <img src="./assets/img/vendor/p-1.jpg" alt>
          </div>
          <div class="my-3">
            <h2 class="text-center">محمـد عبد المنعـم</h2>
            <p class="text-center my-2">مصور فوتوغرافي</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- responsive 100% -->
  <section class="Sec-7">
    <div class="container">
      <div class="row">
        <div class="wpo-section-title-s2">
          <div class="section-title-simg">
            <img src="./assets/img/section-title2.png" alt>
          </div>
          <h2>مـن آخـر حفـلاتنـا</h2>
          <div class="section-title-img">
            <div class="round-ball"></div>
          </div>
        </div>
        <div>
          <div class="card-News d-flex gap-5 align-items-center">
            <div class="card-1">
              <div>
                <img src="./assets/img/lateast News/2.png" alt>
              </div>
              <div class="by-admin bg-white w-75 m-auto">
                <p class="text-center fw-bolder m-0">بواسطة
                  المشرف : 10 - 10 - 2023</p>
              </div>
              <h2 class="text-center m-0">تصوير مثالى من
                حفل زفاف</h2>
            </div>
            <div class="card-1">
              <div>
                <img src="./assets/img/lateast News/2.png" alt>
              </div>
              <div class="by-admin bg-white w-75 m-auto">
                <p class="text-center fw-bolder m-0">بواسطة
                  المشرف : 10 - 10 - 2023</p>
              </div>
              <h2 class="text-center m-0">تصوير مثالى من
                حفل زفاف</h2>
            </div>
            <div class="card-1">
              <div>
                <img src="./assets/img/lateast News/2.png" alt>
              </div>
              <div class="by-admin bg-white w-75 m-auto">
                <p class="text-center fw-bolder m-0">بواسطة
                  المشرف : 10 - 10 - 2023</p>
              </div>
              <h2 class="text-center m-0">تصوير مثالى من
                حفل زفاف</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- responsive 100% -->
  <section class="Sec-8">
    <div class="container">
      <div class="row">
        <div class="wpo-section-title-s2">
          <div class="section-title-simg">
            <img src="./assets/img/section-title2.png" alt>
          </div>
          <h2>مـراســـم</h2>
          <div class="section-title-img">
            <div class="round-ball"></div>
          </div>
        </div>
        <div class="footteer d-flex justify-content-center gap-4">
          <div class="our-social foter d-flex flex-column gap-5">
            <h3 class="text-center">تابـع اعمـالنـا</h3>
            <p class="text-center">تابعونا على قنواتنا
              الاجتماعية. <br> نقوم بتحديث أعمالنا في
              الوقت الفعلي قبل وضعها على الإنترنت على
              الموقع.</p>
            <div class="foter-social d-flex justify-content-center gap-5">
              <a href><i class="fa-brands fa-facebook" style="color: #1255ca;"></i></a>
              <a href><i class="fa-brands fa-instagram"></i></a>
              <a href><i class="fa-brands fa-pinterest" style="color: #bd081c;"></i></a>
            </div>
          </div>

          <div class="our-social foter d-flex flex-column gap-5">
            <h3 class="text-center">روابـط سريعــة</h3>
            <div class="d-flex flex-wrap justify-content-around">
              <ul class="navbar-nav navbar-list align-items-center gap-0">
                <li class="navbar-item">
                  <a class="nav-link" href="#">الرئيسية</a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link" href="#">الخدمات</a>
                </li>

              </ul>
              <ul class="navbar-nav navbar-list justify-content-center align-items-center gap-0">
                <li class="navbar-item">
                  <a class="nav-link" href="#">عملاؤنا</a>
                </li>
                <li class="navbar-item">
                  <a class="nav-link" href="#">اتصل
                    بنا</a>
                </li>
              </ul>
              <ul class="navbar-nav navbar-list align-items-center gap-0">
                <li class="navbar-item">
                  <a class="nav-link" href="#">من نحن</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="contact-us d-flex flex-column gap-5 foter">
            <h2 class="text-center">ابقـى علـى تـواصـل</h2>
            <p class="text-center">اكتب لنا معلومات مفصلة عن
              هذا الحدث الخاص بك. سوف تقوم خدمة العملاء
              لدينا بالرد خلال 24 ساعة.</p>
            <div class="whats d-flex align-items-center justify-content-around">
              <div class="inquire">
                <button class="btn btn-outline-primary">تـواصـل معنـا</button>
              </div>
              <i class="fa-brands fa-whatsapp" style="color: #14c850;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- <div class="team">
        <h1 class="heading">Our team</h1>
        <div class="box-container">
            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>

            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>

            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>

            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>

            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>

            <div class="box">
                <img src="./assets/img/vendor/p-1.jpg" alt="">
                <h3>ahmed</h3>
                <p>wedding planner</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="fab fa-twitter"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" class="fab fa-linkedin"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="fab fa-instagram"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>
        </div>
    </div> -->
