<nav class="navbar navbar-expand-sm navbar-dark p-2 position-absolute  top-0 w-100 z-2">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="nav-logo col-2 d-flex flex-column justify-content-center">
          <a class="navbar-brand" routerLink="">مـــــراســـم</a>
        </div>
        <button class="ms-auto navbar-toggler col-2 btn btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-8 nav-items justify-content-end" id="navbarNav">
          <ul class="navbar-nav navbar-list align-items-center gap-3">
            <li class="navbar-item">
              <a class="nav-link" (click)="home()">الرئيسية</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" (click)="go()">الفئات</a>
            </li>

            <li class="navbar-item">
              <a class="nav-link" (click)="contact()">اتصل بنا</a>
            </li>
            <li class="text-white-50">|</li>
            <li class="navbar-item">
              <a class="nav-link" routerLink="/vendor-registeration">سجل كمنظم</a>
            </li>

            <!-- <ng-container *ngIf="!isLogged">
                    <li class="navbar-item ">
                      <button class="btn btn-outline-primary m-1" routerLink="/login" > تسجيل الدخول</button>
                      <button class="btn btn-outline-primary m-1" routerLink="/register" > سجل الان</button>
                    </li>
                  </ng-container>
                   <ng-container *ngIf="isLogged">
                    <li class="navbar-item ">
                          <div class="dropdown  ">
                      <a href="#" class="d-flex align-items-center text-primary text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="https://github.com/mdo.png" alt="hugenerd" width="50" height="50" class="rounded-circle">
                          <span class="d-none d-sm-inline mx-1">محمد احمد</span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                          <li><a class="dropdown-item" routerLink="view-profile">البيانات الشخصية</a></li>
                          <li><a class="dropdown-item" routerLink="edit-profil">تعديل البيانات</a></li>
                          <li><a class="dropdown-item" routerLink="reservation">الحجوزات</a></li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
                          <li><button class="dropdown-item btn" (click)="logout()">تسجيل الخروج</button></li>
                      </ul>
                  </div>
                    </li>
                  </ng-container> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
