/* nav{
    transition: 0s  cubic-bezier(0.165, 0.84, 0.44, 1);
} */


.navbar-item a {
    transition:  .5s;
  }


  .navbar-item a:hover {

    color: var(--primary-color);
    /* border-bottom: solid 1.5px; */

  }
