<nav class="navbar sticky-top navbar-expand-lg py-4">
    <div class="container">
        <div class="row w-100">
            <div
                class="nav-logo col-2 d-flex flex-column justify-content-center">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <button class="navbar-toggler col-2 btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8 nav-items justify-content-end"
                id="navbarNav">
                <ul
                    class="navbar-nav navbar-list align-items-center gap-5">
                    <li class="navbar-item">
                        <a class="nav-link" href="#">الرئيسية</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">الخدمات</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">من نحن</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">عملاؤنا</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="#">اتصل بنا</a>
                    </li>
                    <li class="navbar-item">
                        <button class="btn btn-outline-primary">الاستــعلام
                            الآن</button>
                    </li>
                </ul>
            </div>
            <!-- <div class="inquire col-2">
            <button class="btn btn-outline-primary">الاستــعلام الآن</button>
        </div> -->
        </div>
    </div>
</nav>