<nav class="navbar navbar-dark sticky-top navbar-expand-lg py-2 shadow-sm bg-dark">
    <div class="container-fluid">
        <div class="row w-100">
            <div
                class="nav-logo col-2 d-flex flex-column justify-content-center">
                <a class="navbar-brand" routerLink="">مـــــراســـم</a>
            </div>
            <button class="navbar-toggler col-2 btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8 nav-items justify-content-end"
                id="navbarNav">
                <ul
                    class="navbar-nav navbar-list align-items-center gap-3">
                    <li class="navbar-item">
                        <a class="nav-link" routerLink="/">الرئيسية</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" routerLink="/vendors">الفئات</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" routerLink="/contact">اتصل بنا</a>
                    </li>
                    <li>

                    </li>
                    <ng-template #NotLoggedIn>
                      <li class="navbar-item ">
                        <button class="btn btn-outline-primary m-1" routerLink="/login" > تسجيل الدخول</button>
                        <button class="btn btn-outline-primary m-1 reg" routerLink="/register" > سجل الان</button>
                      </li>
                    </ng-template>
                     <ng-container *ngIf="AuthService.isLoggedIn | async;else NotLoggedIn">
                      <li class="navbar-item ">
                            <div class="dropdown  ">
                        <a href="#" class="d-flex align-items-center text-primary text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{apiUrl}}{{userId}}/ProfilePicture/{{profilePicture}}" alt="hugenerd" width="50" height="50" class="rounded-circle profile-pic">
                            <span class="d-none d-sm-inline mx-1 text-white">{{name}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" routerLink="view-profile">البيانات الشخصية</a></li>
                            <li><a class="dropdown-item" routerLink="edit-profil">تعديل البيانات</a></li>
                            <li><a class="dropdown-item" routerLink="reservation">الحجوزات</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><button class="logout-btn dropdown-item btn" (click)="logout()">تسجيل الخروج</button></li>
                        </ul>
                    </div>
                      </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</nav>
