/* @import url('./common.css'); */

.navbar {
background-color: var(--primary-background-color) !important;
text-align: center !important;
z-index: 1000;
}
.navbar-item a {
text-decoration: none;
color: var(--priamry-text-color);
font-size: 18px;
transition: color 0.3s;
}

.navbar-item a:hover {
/* color: #f39c12; */
color: var(--primary-color);
}
.inquire button{
padding: 1rem;
width: 160px;
border-radius: 40px;
background-color: var(--primary-background-color);
}

@media screen and (max-width: 991px) {
.inquire{
display: none;
}
.navbar-toggler{
position: absolute;
left: 0;
margin-left: 10px;
}
}
