.floating-action-button {
    position: fixed;
    right: -15px;
    bottom: 30%;
    z-index: 5;
    padding-right: 1.2rem;
    width: 50px;
    height: 40px;
}

.filter-container {
    width: 0px;
    overflow: hidden;
    transition: all 1s;
    min-height: 70vh;
}

@media (min-width: 786px) {
    .filter-container {
        width: 30rem !important;
        overflow: visible;
    }
    .floating-action-button{
        display: none;
    }
}


.expanded {
    width: 30rem !important;
    overflow: visible;
}