<button title="التصنيف" type="button" class="primary-btn floating-action-button" (click)="showFilter()">
    <i class="fa fa-caret-left" #caret></i>
</button>

<div class="d-flex">
    <div #filterContainer class="filter-container">
        <app-filter></app-filter>
    </div>

    <div class="container">
        <div *ngFor="let follow of followPosts">
            <div *ngFor="let post of follow.posts" class="my-4">
                <app-post [post]="post"></app-post>
            </div>
        </div>
    </div>

</div>