<div class="container">
    <div class="row row-cols-md-2">
        <div class="left-content">
            <h1 class="text-primary">طريقك</h1>
            <img style="width: 11rem;" class="mb-5" src="/assets/svg/underline.png" alt="">
            <p class="txt1">اختر الفئة</p>
            <div class="d-flex gap-2">
                <div class="d-flex flex-row align-items-center gap-2"><img class="arw1ms-3"
                        src="/assets/svg/arrow1 left.png" style="width: 6rem;">
                    <p class="w1"> اختر مقدم الخدمة المناسب</p>
                </div>
                <img class="arw2" src="/assets/svg/arrow2 left.png" style="width: 6rem;">
                <p class="txt2">احجز خدمة من خدمات مقدم الخدمة</p>
            </div>
            <div class=" d-flex flex-row flex-reverse align-items-center justify-content-end ">
                <p class="arw3t">انتظر تاكيد الخدمة من المقدم</p>
                <img class="arw3" src="/assets/svg/arrow1 right.png" style="width: 6rem;">
            </div>
    
    
            <div class="d-flex flex-row">
    
                <div class="d-flex flex-column">
                    <p class="arw4t">ادفع عربون الخدمة المحجوزة</p>
    
                </div>
    
                <div class="arw4">
                    <img src="/assets/svg/arrow3.png" style="width: 5rem;">
                </div>
            </div>
            <div class="d-flex flex-row ">
                <img class="arw5" src="/assets/svg/left arrow.png" style="width: 5rem;">
                <p class="arw5t">بعد اتمام الخدمة قم بتقييمها</p>
    
            </div>
            <div class="d-flex flex-row">
                <p class="arw6t">تابع مقدمي الخدمات وتفاعل مع منشوراتهم</p>
                <img class="arw6" src="/assets/svg/arrow2 left.png" style="width: 5rem;">
            </div>
        </div>
        <div class="right-photo">
            <img src="/assets/gif/walk.gif">
        </div>
    </div>


</div>