
    <div style=" margin-top:100px;" class="Main container border w-50 py-5  shadow-lg">
        <div class="text-center p-4">
            <h1 class="loading p-4"> الرجاء الإنتظار...</h1>
            <div>
                <div class=" mb-5 mt-5 spinner-border text-info" role="status" style="scale: 200%;">
                </div>
            </div>
            <span class="revText text-muted fs-3">نقوم بمراجعة بيانات طلبك </span><br>
            <span class="waitText text-muted  ">قد يتطلب الأمر بعض من الدقائق</span>
        </div>

