<h1 class="text-center py-5 text-primary">الحجـــــوزات</h1>
<div class="container mt-5">


  <div class="tabs-box">
    <div class="coll-btn">
      <button class="tab-btn" [class.active]="activeTab === 'p'" (click)="setActiveTab('p')">المعلقـة</button>
      <button class="tab-btn" [class.active]="activeTab === 'a'" (click)="setActiveTab('a')">المقبولـة</button>
      <button class="tab-btn" [class.active]="activeTab === 'f'" (click)="setActiveTab('f')">المدفوعة</button>
      <button class="tab-btn" [class.active]="activeTab === 'c'" (click)="setActiveTab('c')">مؤكدة الدفع</button>
      <button class="tab-btn" [class.active]="activeTab === 'r'" (click)="setActiveTab('r')">المرفوضة</button>
      <button class="tab-btn" [class.active]="activeTab === 'd'" (click)="setActiveTab('d')">السابقـة</button>
    </div>




    <div class="contain-mob">
      <div class="dropdown d-none">
        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{activeTab}}
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'p'" (click)="setActiveTab('p')">المعلقـة</button>
          </li>
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'a'" (click)="setActiveTab('a')">المقبولـة</button>
          </li>
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'f'" (click)="setActiveTab('f')">المدفوعة</button>
          </li>
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'c'" (click)="setActiveTab('c')">مؤكدة الدفع</button>
          </li>
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'r'" (click)="setActiveTab('r')">المرفوضة</button>
          </li>
          <li>
            <button class="tab-btn" [class.active]="activeTab === 'd'" (click)="setActiveTab('d')">السابقـة</button>
          </li>
        </ul>
      </div>
    </div>



  </div>
  <div class="content-box">
    <div class="content" [class.active]="activeTab === 'p'">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">المبلغ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">

            <tr>
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}</td>
              <td class="text-center text-pp">{{Reservation.dateTime| dateFormatArabic}}</td>
              <td class="text-center text-pp">{{Reservation.price}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="content" [class.active]="activeTab === 'a'">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">المبلغ</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}</td>
              <td class="text-center text-pp">{{Reservation.dateTime | dateFormatArabic }}</td>
              <td class="text-center text-pp">{{Reservation.price}}</td>
              <td class="text-center">
                <button type="button" class="primary-btn"><a class="link-pay"
                    routerLink="/checkout/{{Reservation.id}}">ادفع جزء من
                    المبلغ</a></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="content" [class.active]="activeTab === 'f'">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">المبلغ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}</td>
              <td class="text-center text-pp">{{Reservation.dateTime | dateFormatArabic }}</td>
              <td class="text-center text-pp">{{Reservation.price}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="content" [class.active]="activeTab === 'c'">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">المبلغ</th>
            <th scope="col" class="text-center">تمت</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}</td>
              <td class="text-center text-pp">{{Reservation.dateTime | dateFormatArabic }}</td>
              <td class="text-center text-pp">{{Reservation.price}}</td>
              <td class="text-center text-pp">
                <button class="primary-btn" (click)="markAsDone(Reservation.id)">
                  <i class="fa fa-check"></i>
                </button>
              </td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="content" [class.active]="activeTab === 'r'">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">المبلغ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}</td>
              <td class="text-center text-pp">{{Reservation.dateTime | dateFormatArabic }}</td>
              <td class="text-center text-pp">{{Reservation.price}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="content fs-5" [class.active]="activeTab === 'd'">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">معلومات البائع</th>
            <th scope="col" class="text-center">المكان</th>
            <th scope="col" class="text-center">تاريخ الحجز</th>
            <th scope="col" class="text-center">إضافة تقييم</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let Reservation of Reservations;let i=index">

            <tr>

              <th scope="row">{{i+1}}</th>
              <td class="text-center">
                <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                  class="img-vendor">
                <span class="ms-2">{{Reservation.vendor.name}}</span>
              </td>
              <td class="text-center text-pp">
                {{Reservation.street! | nullToSpace}},{{Reservation.district! |
                nullToSpace}},{{Reservation.city}},{{Reservation.gov}}
              </td>
              <td class="text-center text-pp">{{Reservation.dateTime | dateFormatArabic }}</td>
              <td class="text-center" *ngIf="!Reservation.review;else review">
                <app-add-review (refresh)="getReservations()" [Reservation]="Reservation"></app-add-review>
              </td>
              <ng-template #review>
                <td class="text-center">
                  <span *ngFor="let _ of [].constructor(Reservation.review?.rate)">
                    <i class="fa fa-star yellow"></i>
                  </span>
                  <ng-container *ngIf="Reservation.review">
                    <span *ngFor="let _ of [].constructor(5-Reservation.review.rate)">
                      <i class="fa fa-star text-secondary"></i>
                    </span>
                  </ng-container>
                  <ng-template #nostars>
                    <span *ngFor="let _ of [].constructor(5)">
                      <i class="fa fa-star text-secondary"></i>
                    </span>
                  </ng-template>
                </td>
              </ng-template>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>