
/* @import url('./common.css'); */
*{
  min-height: 0vh !important;
}
.container{
/* height: 50vh; */
}

.tabs-box{
    width: 100%;
    border-bottom: 2px solid rgb(229, 229, 229);
}
.tabs-box .tab-btn{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.coll-btn , .contain-mob{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dropdown-toggle{
  width: 200px;
  font-size: 23px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tabs-box .tab-btn.active{
    color:black
}
.content-box{
    padding: 20px;

}
.content{
  color: var(--primary-color);
}
.content-box .content{
    display: none ;
    animation: moving 1s ease;
}
@keyframes moving{
    from{
      /*  transform: translatex(50px);*/
        opacity: 0;
    }
    to{
      /*  transform: translatex(0px);*/
        opacity:1;
    }
}
.content-box .content.active{
    display: block;
}
.content-box .content h2{
    margin-bottom: 10px;
}

.link{
    position: absolute;
    top: 62px;
    width: 110px;
    left: 918px;
    height: 5px;
    border-radius: 10px;
    background-color: #7360ff;
    transition: all .3s ease-in-out;
}
.img-vendor{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
}
.text-pp{
    padding-top: 11px;

}
/* star rating */
.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*  */
table.table td.text-center input[type="text"] , .commit{
    /* width: 100%; */
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: border 0.3s ease-in-out;
    margin: 8px 0 13px 0;
    WIDTH: 250px;
}


/*  */
.link-pay{
  text-decoration: none;
  color: black;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col2{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  /* ////////////////////// */
  @media screen and (max-width: 600px) {
    .tabs-box {
        flex-direction: column;
    }
    .dropdown{
      display: block !important;
    }
    .tab-btn {
        width: 100%;
    }

    .tabs-box .tab-btn.active {
        color: black;
    }

    .text-pp{
      padding-top: .5rem;
    }

    .coll-btn{
      display: none;
    }

    .btn {
        margin: 10px 0;
    }

    .commit {
        width: 100%;
    }

    .col2 {
      flex: 100%;
      max-width: 100%;
    }


    thead{
      display: none;
    }
    tr{
      display: flex;
    flex-direction: column;
    margin: 40px 0;
    }
}

@media screen and (max-width: 1023px) {
    .modal-content {
        width: 75% !important;
    }
}

@media screen and (max-width: 567px) {
    .modal-content {
        width: 100% !important;
    }
}

/* @media screen and (max-width: 767) {
  .link-pay{
    font-size: 12.6px !important;
  }
} */


@media screen and (max-width:960px) {
  .col2 {
    flex: 100%;
    max-width: 80%;
  }
}
