<div class="container-fluid mt-4 ">
  <div class="row">
    <div class="col">
      <h1 class="position-absolute top-20 text-light">قائمة المدعوين الى حفل الزفاف</h1>
      <img src="../assets/img/groom.png" class="rounded mx-auto img1 rounded-circle" alt="groom">
      <img src="../assets/img/bride.png" class="rounded mx-auto img2 rounded-circle" alt="bride">
      <div class="cover1">
        <div class="img-fluid ">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.dev/svgjs" preserveAspectRatio="none" viewBox="0 0 1440 200">
            <g mask="url(&quot;#SvgjsMask1394&quot;)" fill="none">
              <rect width="1440" height="200" x="0" y="0" fill="rgba(16, 169, 177, 1)"></rect>
              <path
                d="M1488 200L0 200 L0 112.69Q54.04 46.73, 120 100.77Q192.19 52.96, 240 125.15Q294.6 59.75, 360 114.34Q390.37 72.71, 432 103.08Q478.74 77.81, 504 124.55Q529.64 78.19, 576 103.84Q617.03 72.88, 648 113.91Q690.29 84.2, 720 126.49Q768.53 55.02, 840 103.55Q881.91 73.46, 912 115.37Q953.5 84.87, 984 126.36Q1008.44 78.8, 1056 103.24Q1121.48 48.73, 1176 114.21Q1242.66 60.88, 1296 127.54Q1319.8 79.34, 1368 103.14Q1434.29 49.43, 1488 115.72z"
                fill="rgba(24, 152, 159, 1)"></path>
              <path
                d="M1464 200L0 200 L0 134.74Q58.98 73.73, 120 132.71Q149.72 90.43, 192 120.15Q240.78 96.93, 264 145.71Q316.85 78.56, 384 131.41Q438.86 66.27, 504 121.12Q553.33 98.45, 576 147.79Q604.65 104.44, 648 133.09Q678.66 91.75, 720 122.41Q768.15 98.56, 792 146.71Q820.92 103.63, 864 132.55Q918 66.55, 984 120.55Q1057.01 73.56, 1104 146.57Q1156.74 79.31, 1224 132.06Q1278.85 66.91, 1344 121.75Q1415.67 73.43, 1464 145.1z"
                fill="rgba(16, 169, 177, 1)"></path>
              <path
                d="M1464 200L0 200 L0 143.03Q40.5 111.53, 72 152.04Q137.25 97.29, 192 162.54Q241.22 91.75, 312 140.97Q377.66 86.63, 432 152.3Q498.91 99.22, 552 166.13Q599.59 93.72, 672 141.3Q715.29 112.59, 744 155.88Q809.57 101.44, 864 167.01Q888.17 119.19, 936 143.36Q978.73 114.09, 1008 156.82Q1065.9 94.72, 1128 152.62Q1158.93 111.56, 1200 142.49Q1247.13 117.62, 1272 164.74Q1325.89 98.63, 1392 152.52Q1422.71 111.23, 1464 141.94z"
                fill="rgba(125, 249, 255, 1)"></path>
              <path
                d="M1512 200L0 200 L0 176.13Q54.07 110.2, 120 164.27Q184.6 108.88, 240 173.48Q282.88 144.35, 312 187.23Q358.58 113.81, 432 160.38Q497.99 106.37, 552 172.35Q594.42 142.77, 624 185.19Q647.66 136.86, 696 160.52Q762.65 107.17, 816 173.82Q881.96 119.78, 936 185.74Q959.27 137.01, 1008 160.28Q1075.09 107.37, 1128 174.45Q1170.62 145.06, 1200 187.68Q1246.17 113.85, 1320 160.02Q1386.04 106.06, 1440 172.1Q1483.28 143.38, 1512 186.65z"
                fill="rgba(169, 250, 255, 1)"></path>
              <path
                d="M1488 200L0 200 L0 190.79Q61.47 132.25, 120 193.72Q185.54 139.26, 240 204.8Q289.28 134.09, 360 183.37Q425.46 128.83, 480 194.29Q521.3 163.59, 552 204.89Q576.28 157.18, 624 181.46Q689.93 127.39, 744 193.32Q786.51 163.83, 816 206.35Q840.13 158.48, 888 182.61Q929.95 152.56, 960 194.52Q1002.24 164.75, 1032 206.99Q1054.59 157.57, 1104 180.16Q1145.03 149.19, 1176 190.21Q1243.52 137.73, 1296 205.24Q1319.74 156.98, 1368 180.72Q1433.43 126.16, 1488 191.59z"
                fill="white"></path>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-xs-12 p-3">
      <div class="card">
        <div class="card-body ">
          <div class="row gy-4 ">
            <div class="col">
              <input type="text" class="form-control no-border" placeholder="الأسم الأول">
            </div>
            <div class="col">
              <input type="text" class="form-control no-border" placeholder="الأسم الثانى">
            </div>
            <input type="number" class="form-control no-border text-center" placeholder="رقم الهاتف">
            <input type="email" class="form-control no-border text-center" placeholder="الأيميل الشخصي">
            <div class="col text-center">
              <button type="button" class="btn btn-outline-primary ">دعوة</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col p-3">
      <div class="card">
        <div class="card-body table-responsive ">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">رقم الدعوة</th>
                <th scope="col">الأسم</th>
                <th scope="col">رقم الهاتف</th>
                <th scope="col">الأيميل</th>
                <th scope="col">تعديل</th>
                <th scope="col">حذف</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>محمد أحمد</td>
                <td>01148522545</td>
                <td>mohammed@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>هناء عبدالفتاح</td>
                <td>01020305876</td>
                <td>hanaa abdelftah@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>خالد محمد</td>
                <td>011589634893</td>
                <td>kaledahmed@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>خالد محمد</td>
                <td>011589634893</td>
                <td>kaledahmed@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>خالد محمد</td>
                <td>011589634893</td>
                <td>kaledahmed@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>هناء عبدالفتاح</td>
                <td>01020305876</td>
                <td>hanaa abdelftah@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>هناء عبدالفتاح</td>
                <td>01020305876</td>
                <td>hanaa abdelftah@gmail.com</td>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>