#carousel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-pagination-color:var(--primary-color);
  --swiper-theme-color:var(--primary-color);
}

.cardd:hover{
  transform: scale(103%);
  transition: ease-in-out;
  transition: all 0.5s;
  transition-delay: 20ms;
  }

#carousel .swiper-carousel {
  padding-bottom: 32px;
  max-width: 1200px
}

#carousel .swiper-carousel .swiper-slide {
  width: var(--slide-width);
  height: var(--slide-height);
  border-radius: 8px;
  background: #18212b;
  max-width: calc(100% - 48px)
}

#carousel .swiper-carousel .swiper-carousel-animate-opacity {
  height: 100%
}

#carousel .swiper-carousel .swiper-pagination-bullets {
  bottom: 0
}

#carousel .swiper-carousel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px
}

#carousel .swiper-carousel .slide-content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 88px 16px 24px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
  border-radius: 0 0 8px 8px
}

#carousel .swiper-carousel .slide-content h2 {
  margin: 0;
  font-weight: bold;
  line-height: 1.1
}

#carousel .swiper-carousel .slide-content p {
  margin: 8px 0 0;
  opacity: .65;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

@media (max-width: 640px) {

  #carousel .swiper-carousel .swiper-button-next,
  #carousel .swiper-carousel .swiper-button-prev {
      display: none !important
  }
}


/*////////////////////////////////////////////////*/


.content-left {
  background-color: rgb(111, 182, 148);
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  background-image: url(/assets/img/1234.webp);
  height: 350px;

}

.content-center {
  background-color: rgb(102, 166, 164);
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  background-image: url(/assets/img/123.webp);
  height: 350px;
}

.content-right {
  background-color: powderblue;
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  height: 350px;
  background-image: url(/assets/img/12345.webp);
}

/* CARD TEXT STYLE */
.custom-card h1 {

  font-weight: 900;
  padding: 10px 0;
}

.custom-card h2 {
  font-weight: 500;
  padding: 5px 0;
}


.custom-card a {

color: white;
  font-weight: 500;
  font-size: 16px;

  padding: 5px 0;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: #23C0C9;
  width: 100px;


}

.w1{
  margin-top: 5rem;
}

.photo{
  width:200px ;
}
.txt1{
  position: absolute;

}
.arw1{

}

#carousel .swiper-carousel .swiper-slide {
  width: 220px !important;
  height: 380px;
}
.arw2{
  margin-top: 4rem;

}
.txt2{
  margin-top: 6rem;
}
.arw3{
  position: absolute;
  margin-top: 1rem;

}
.arw3t{
  position: absolute;
  margin-left: 7rem;
  margin-top: 6rem;
}
.arw4{
  position: absolute;
  margin-right: 17rem;
  margin-top: 3rem;

}
.arw4t{
  position: absolute;
  margin-right: 5rem;
  margin-top: 8rem;
}
.arw5{
position: absolute;
margin-top: 9rem;
margin-right: 15rem;
}
.arw5t{
  position: absolute;
  margin-top: 11rem;
  margin-right: 21rem;

}

.arw6{
  position: absolute;
margin-right: 35rem;
margin-top: 9rem;
}
.arw6t{
  position: absolute;
  margin-right: 41rem;
  margin-top: 11rem;
}
/*///////////////////////////////////////////////////*/

.searching{

  scale: 90%;
}
button{
  max-height: 100vh;
}

/* this is a recreation of twitter search in css */
.searchInput {
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.searchInput {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search {
  position: absolute;
  fill: var(--text-color);
  right: var(--inline-padding-of-input);
}
/* svg -- size */
/* svg {
  width: 17px;
  display: block;
} */
/* styling of input */
.input {
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  border: unset;
  outline: unset;
}
