<!--
<div class="container searching py-5">
  <div class="search-bar">
    <div class="input-group">
      <span class="input-group-text"><i class="fa-solid fa-search"></i>
      </span>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputGroup2" placeholder="بحث">
        <label for="floatingInputGroup2" class="mt-2 px-2">بحث</label>
      </div>
      <div class="form-floating">
        <select class="form-select py-0" id="floatingSelectGrid">
          <option disabled hidden selected value="">اختر من بين الفئات</option>
          <option value="1">القاعات</option>
          <option value="2">المصورين</option>
          <option value="3">المطاعم</option>
          <option value="4">صالونات التجميل</option>
          <option value="5">النوادى</option>
        </select>
      </div>
      <button title="فلتر" class="btn btn-primary button__shared" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="fa-solid fa-filter text-white"></i>
      </button>
      <button class="btn btn-primary button__shared">بحث <i class="fa-solid fa-search text-white"></i></button>
    </div>
  </div>
</div> -->


<div class="hero-section d-flex flex-row justify-content-around mb-5 mt-5">

  <div class="left-content">
    <h1 class="text-primary">طريقك</h1>
    <img style="width: 11rem;" class="mb-5" src="/assets/svg/underline.png" alt="">
    <p class="txt1">اختر الفئة</p>
    <div class="d-flex gap-2">
      <div class="d-flex flex-row align-items-center gap-2"><img class="arw1ms-3" src="/assets/svg/arrow1 left.png" style="width: 6rem;"><p class="w1"> اختر مقدم الخدمة المناسب</p></div>
      <img class="arw2" src="/assets/svg/arrow2 left.png" style="width: 6rem;">
      <p class="txt2">احجز خدمة من خدمات مقدم الخدمة</p>
    </div>
    <div class=" d-flex flex-row flex-reverse align-items-center justify-content-end ">
      <p class="arw3t">ادفع عربون الخدمة المحجوزة</p>
      <img class="arw3" src="/assets/svg/arrow1 right.png" style="width: 6rem;">
    </div>


<div class="d-flex flex-row">

  <div class="d-flex flex-column">
    <p class="arw4t"  >ادفع عربون الخدمة المحجوزة</p>

  </div>

  <div class="arw4">
    <img src="/assets/svg/arrow3.png" style="width: 5rem;">
  </div>
</div>
<div class="d-flex flex-row ">
  <img class="arw5" src="/assets/svg/left arrow.png" style="width: 5rem;">
  <p class="arw5t">بعد اتمام الخدمة قم بتقييمها</p>

</div>
<div class="d-flex flex-row">
  <p class="arw6t">تابع مقدمي الخدمة وتفاعل مع منشوراتهم</p>
  <img class="arw6" src="/assets/svg/arrow2 left.png" style="width: 5rem;">

</div>






      </div>


  <div class="right-photo">
    <img src="/assets/gif/walk.gif" >
  </div>

</div>


<div class="sec-2 container d-flex py-5 mt-5  justify-content-center flex-column h-100"   id="sec2">
  <h2 class="text-primary ms-3">فئات مقدمي الخدمة</h2>
  <img style="width: 18rem;" class="mt-2" src="/assets/svg/underline.png" alt="">
  <div class="mt-5">
    <div class="row">
      <div class="cardd  col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-left  text-white  d-flex flex-column justify-content-between">

          <h2>مصور فوتوغرافي</h2>


          <a  href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="cardd col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-center text-white d-flex flex-column justify-content-between">

          <h2>خبير تجميل</h2>

          <a href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="cardd col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-right text-white d-flex flex-column justify-content-between">

          <h2>منظم حفلات</h2>

          <a href="#">اكتشف الان</a>
        </div>
      </div>
    </div>
    <div class="colored-btn d-flex flex-row justify-content-end">
      <div class="circle-cont d-flex flex-column justify-content-center align-items-center mt-3">
        <img src="../../../../assets/svg/circle.png" style="width:11rem" alt="">
        <a class="justify-content-end  text-primary  position-absolute  text-decoration-none " routerLink="/vendors">اكتشف المزيد</a>
      </div>
    </div>

  </div>

</div>

<div class="py-5 container">
  <h2 class="text-primary ms-3 ">مقدمو الخدمة الأكثر طلباً</h2>
  <img style="width: 400px;" class="" src="/assets/svg/underline.png" alt="">

  <div>
    <div id="carousel" class="position-relative">
      <!-- Carousel slider -->
      <div class="swiper swiper-carousel">
        <div class="swiper-wrapper">
          <ng-container *ngFor="let slide of slides;let i = index">
            <div class="swiper-slide">
              <!-- elements with  "swiper-carousel-animate-opacity" class will have animated opacity -->
              <div class="swiper-carousel-animate-opacity">
                <img src="{{slide.image}}" alt="{{slide.title}}">
                <div class="slide-content text-white text-center">
                  <h2>{{slide.title}}</h2>
                  <p class="text-white">{{slide.description}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>


