<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="" class="form-label">أسم العريس</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="أسم العريس">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">أسم العروسة</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="أسم العروسة">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">تاريخ الزفاف</label>
            <input type="date" class="form-control" name="" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">صورةالغلاف</label>
            <input type="file" name="" class="form-control" id="">
        </div>
        <div class="mb-3">
            <button class="primary-btn w-100">Done</button>
        </div>
    </form>
</div>