<div class="container my-2">
    <h1 class="text-center mb-5 text-primary">إنشاء دعوة</h1>
    <form action="" class="w-50 mx-auto">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="GroomName" id="GroomName" placeholder="">
            <label for="GroomName">أسم العريس</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="BrideName" id="BrideName" placeholder="">
            <label for="BrideName">أسم العروسة</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control" name="WeddingDate" id="WeddingDate" placeholder="">
          <label for="WeddingDate">تاريخ الزفاف</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="file"
            class="form-control" name="formId1" id="CoverPicture" placeholder="">
          <label for="CoverPicture">صورة غلاف</label>
        </div>
        <div class="mb-3">
            <button class="primary-btn rounded-2 w-100">Done</button>
        </div>
    </form>
</div>