<!-- Button trigger modal -->
<div class="d-flex flex-column mt-3" *ngIf="Reactions">
    <div *ngIf="AuthService.isLoggedIn| async">
        <button *ngIf="isLiked; else elseBlock" (click)="DisLike()"
            class="like btn border-0 d-flex text-decoration-none gap-1 align-items-center text-primary">
            <i class="fa-solid fa-thumbs-up fs-3"></i>
        </button>
        <ng-template #elseBlock>
            <button (click)="Like()"
                class="like btn border-0 d-flex text-decoration-none gap-1 align-items-center text-primary">
                <i class="fa-regular fa-thumbs-up fs-3 text-dark"></i>
            </button>
        </ng-template>
    </div>
    <button type="button" class="btn reacts w-100 text-start" data-bs-toggle="modal"
        attr.data-bs-target="#p_comm{{postId}}">
        <span><i class="fa-regular fa-thumbs-up"></i> {{Reactions.length}}</span>
    </button>
</div>


<!-- <button (click)="isLiked=!isLiked"
        class="like btn border-0 d-flex text-decoration-none gap-1 align-items-center text-primary">
        <div *ngIf="isLiked; else elseBlock"><i class="fa-regular fa-thumbs-up fs-3 text-dark"></i></div>
        <ng-template #elseBlock><i class="fa-solid fa-thumbs-up fs-3"></i></ng-template>
    </button> -->






<!-- <i class="fa-thumbs-up fs-3" [ngClass]="isLiked ? 'fa-solid' : 'fa-regular text-dark'"></i> -->
<!-- <span [ngClass]="{'d-none': isLiked, '': !isLiked}">اعجبني</span>
        <ng-container *ngIf="isLiked">
            <span [ngClass]="{'text-primary': isLiked, 'text-dark': !isLiked}">اعجبك</span>
        </ng-container> -->


<!-- Modal -->
<div class="modal fade" id="p_comm{{postId}}" tabindex="-1" attr.aria-labelledby="p_comm{{postId}}Label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="p_comm{{postId}}Label">Reactions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let reaction of Reactions">
                    <app-reaction [reaction]="reaction"></app-reaction>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>