<!-- <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css"> -->

<div class="d-flex flex-row align-items-center">
    <div class=>
      <div class="row justify-content-center pe-3">
        <img class="review-img rounded-circle" [src]='Review.User.PicURL' alt="avatar">
      </div>

    </div>

    <div class="review justify-content-center  ">
        <div class="d-flex justify-content-between">
            <h5 class="customer-name m-0 ">{{Review.User.Name}}</h5>
            <span>{{Review.Date}}</span>
        </div>
        <ul class="list-inline m-0">
            <li *ngFor="let item of [].constructor(Review.Rate)" class="list-inline-item me-0">
                <i class="fas fa-star text-warning"></i>
            </li>
        </ul>
        <span><span class=" fw-light">تقيم على: </span>{{Review.Service}}</span>
        <p>{{Review.Description}}</p>
    </div>
</div>
