<div class="d-flex flex-row align-items-center">
    <div class="row justify-content-center pe-3">
        <img class="review-img rounded-circle" [src]="UserSerivce.GetProfilePicUrl(Review.user.id, Review.user.picUrl)"
            alt="avatar">
    </div>
    <div class="review d-flex flex-column justify-content-center align-content-between w-100">
        <div class="d-flex justify-content-between">
            <h5 class="customer-name m-0 ">{{Review.user.name}}</h5>
            <span>{{Review.dateTime | dateFormatArabic}}</span>
        </div>
        <div>
            <span *ngFor="let _ of [].constructor(Review!.rate)">
                <i class="fa fa-star text-warning"></i>
            </span>
            <span *ngFor="let _ of [].constructor(5-Review!.rate)">
                <i class="fa fa-star text-secondary"></i>
            </span>
        </div>
        <div>
            <span><span class=" fw-light">تقيم على: </span>{{Review.serviceTitle}}</span>
        </div>
        <div>
            <p>{{Review.message}}</p>
        </div>
    </div>
</div>
<hr class="m-0">