label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  border: unset;
  outline: unset;
}

table, th, td {
  border: 1px solid rgb(133, 132, 132);
  border-collapse: collapse;
}

.noHover{
  pointer-events: none;
}