<!-- <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css"> -->
<main class="container">
  <h1 class="text-center text-primary my-5">الفئات</h1>

  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div class="w-75 my-5 mx-auto ">
      <div class="search-bar">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-add"></i>
          </span>
          <div class="form-floating">
            <input type="text" class="form-control" id="Input" placeholder="اضافة خدمة" formControlName="Name">
            <label for="Input" class="mt-2 px-2">اضافة فئة</label>
          </div>
          <button type="reset" (click)="addCategory()" [disabled]="!this.categoryForm.valid"
            [ngClass]="{ 'primary-btn': formIsValid, 'secondary-btn noHover': !formIsValid }">اضافة</button>
        </div>
        <div *ngIf="categoryForm?.get('Name')?.invalid && categoryForm?.get('Name')?.touched">
          <small class="text-danger">
              اسم الفئة يجب أن يحتوي على ٣-٣٠ حرفًا
          </small>
      </div>
      </div>
    </div>
  </form>

  <div class="w-75 mx-auto">
    <table class="table text-primary text-center">
      <thead>
        <tr>
          <th scope="col" class="fs-4 text-primary">رقم</th>
          <th scope="col" class="fs-4 text-primary">اسم الفئة</th>
          <th scope="col" class="fs-4 text-primary">اجراءات</th>
        </tr>
      </thead>
      <tbody *ngIf="categories">
        <tr *ngFor="let category of categories; let i = index">
          <td class=""><span>{{(i+1).toLocaleString('ar-EG')}}</span></td>
          <td class=""><span>{{category.name}}</span></td>
          <td class="">
            <!-- estna filter using quary params -->
            <button type="button" class="primary-btn me-2">عرض</button>
            <!-- <button type="button" class="danger-btn">حذف</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</main>