<main class="container">
  <h1 class="text-center text-primary mt-5">الفئات</h1>

  <div class="searching my-5 mx-auto ">
    <div class="search-bar">
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-add"></i>
        </span>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInputGroup2" placeholder="اضافة خدمة">
          <label for="floatingInputGroup2" class="mt-2 px-2">اضافة خدمة</label>
        </div>

        <button class="btn btn-primary button__shared">اضافة</button>
      </div>
    </div>
  </div>



  <div class="table-responsive-md border ">
    <table class="table table-white text-primary text-center  " >
      <thead>
        <tr>
          <th scope="col" class="text-danger">اسم الفئة</th>

          <th scope="col" class="text-danger"></th>

        </tr>
      </thead>
      <tbody>
        <!-- *ngfor="let vendor of Vendors" -->
        <tr>
          <td scope="row">مصور فوتوغرافي</td>
          <td class="d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-primary">عرض</button>
            <button type="button" class="btn btn-danger">حذف</button>
          </td>
        </tr>

                          <!---------- TO BE DELETED ------------>

        <tr>
          <td scope="row">قاعة افراح</td>
          <td class="d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-primary">عرض</button>
            <button type="button" class="btn btn-danger">حذف</button>

          </td>
        </tr>

        <tr>
          <td scope="row">خبير تجميل</td>
          <td class="d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-primary">عرض</button>
            <button type="button" class="btn btn-danger">حذف</button>

          </td>
        </tr>
      </tbody>


                            <!---------- TO BE DELETED ------------>


    </table>


  </div>
  </main>



