    <section class="wpo-contact-section">
        <div class="container">
            <div class="wpo-contact-section-wrapper" id="contact">
                <div class="wpo-contact-form-area">
                    <div class="wpo-section-title-s2">
                        <div class="section-title-simg">
                            <img src="../assets/img/section-title2.png" alt="">
                        </div>
                        <h2 id="get_in_touch">ابقى على تواصل</h2>
                        <div class="section-title-img">
                            <div class="round-ball"></div>
                        </div>
                       <div>
                           <p>
                           نحن موجودون هنا لجعـل أحـداث حيـاتك الخاصـة شيئًا لا يُنسى.
                           </p>
                       </div>
                    </div>
                    <form method="post" class="contact-validation-active" id="contact-form-main" novalidate="novalidate">
                        <div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="الاسـم">
                        </div>
                        <div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="البريـد الالكترونـى">
                        </div>
                        <div>
                            <textarea id="message" name="message" class="form-control" placeholder="كيف يمكننا مساعدتك."></textarea>
                        </div>
                        <div class="submit-area">
                            <button type="button" class="btn btn-lg btn-outline-primary w-25">أرســال</button>
                        </div>
                    </form>
                    <div class="border-style"></div>
                </div>
            </div>
        </div>
    </section>
    