svg {
	height: 23rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}
.btn{
  width: 20vh;
}
.form-control{
  width: 60vh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
