<main class="container">
  <h1 class="text-center text-primary my-5">عمليات الدفع</h1>
  <div class="d-flex gap-2 flex-wrap justify-content-center my-3">
    <button class="primary-btn" (click)="GetAll()">إظهر جميع حالات الدفع</button>
    <button class="primary-btn" (click)="GetConfirmed()">إظهر حالات الدفع السابقة</button>
    <button class="primary-btn" (click)="GetUnconfirmed()">إظهر حالات الدفع المعلقة</button>
  </div>

  <div class="d-flex flex-column justify-content-center">
    <div class="table-responsive-md ">
      <table class="table table-white text-primary text-center border ">
        <thead>
          <tr>
            <th scope="col" class="col text-primary"> العميل</th>
            <th scope="col" class="col text-primary">مقدم الخدمة</th>
            <th scope="col" class="col text-primary">حساب العميل</th>
            <th scope="col" class="col text-primary">العربون</th>
            <th scope="col" class="col text-primary">تاريخ الحجز</th>
            <th scope="col" class="col text-primary">تاريخ الدفع</th>
            <th scope="col" class="col text-primary">تأكيد الدفع</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of Payments">
            <td scope="row">{{payment.reservation.user.name}}</td>
            <td>{{payment.reservation.vendor.name}}</td>
            <td>{{payment.instaPay}}</td>
            <td>{{payment.amount.toLocaleString("ar-EG")}}</td>
            <td>{{payment.reservation.dateTime | dateFormatArabic}}</td>
            <td>{{payment.dateTime | dateFormatArabic}}</td>
            <td class="d-flex gap-2 justify-content-center">
              <button title="تأكيد الدفع" *ngIf="payment.reservation.status=='f';else unconfirm" type="button"
                class="primary-btn" (click)="Confirm(payment.reservation.id)">
                <i class="fa-solid fa-check"></i>
              </button>
              <ng-template #unconfirm>
                <button title="تأكيد الدفع" type="button" class="danger-btn"
                  (click)="Unconfirm(payment.reservation.id)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>