<button type="button" class="btn btn-primary" data-bs-toggle="modal" attr.data-bs-target="#rate{{Reservation.id}}">
    أضغط لتقييـم البائـع
</button>
<div class="modal fade" id="rate{{Reservation.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    attr.aria-labelledby="rate{{Reservation.id}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content w-50 m-auto">
            <div class="modal-header">
                <h1 class="modal-title fs-5" attr.id="rate{{Reservation.id}}Label">تقييـم البائع</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-colmun justify-content-center align-items-center">
                <div class="col2" style="max-width: 100%;">
                    <form [formGroup]="form" class="testimonial" (submit)="addReview()">
                        <img [src]="UserService.GetProfilePicUrl(Reservation.vendor.userId, Reservation.vendor.picUrl)"
                            alt="">
                        <p class="name">{{Reservation.vendor.name}}</p>
                        <div class="d-flex justify-content-center">
                            <div class="rate">
                                <input type="radio" id="star5_3" value="5" formControlName="rate" />
                                <label for="star5_3" title="text">5 stars</label>
                                <input type="radio" id="star4_3" value="4" formControlName="rate" />
                                <label for="star4_3" title="text">4 stars</label>
                                <input type="radio" id="star3_3" value="3" formControlName="rate" />
                                <label for="star3_3" title="text">3 stars</label>
                                <input type="radio" id="star2_3" value="2" formControlName="rate" />
                                <label for="star2_3" title="text">2 stars</label>
                                <input type="radio" id="star1_3" value="1" formControlName="rate" />
                                <label for="star1_3" title="text">1 star</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <textarea class="commit" rows="5" cols="10" placeholder='أضف تعليقًا هنا'
                                formControlName="message"></textarea>
                        </div>
                        <h5 class="text-danger my-2"
                            *ngIf="form.controls['rate'].hasError('required') && form.controls['rate'].touched">ادخل
                            التقيم</h5>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                [disabled]="!form.valid">
                                تـأكيد</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">أغلاق الصفحة</button>
                        <button type="button" class="btn btn-primary">لاحظ لا يمكن اغلاق الصفحة الا عن طريق زر "أغلاق".</button>
                </div>
            -->
        </div>
    </div>
</div>