.hero-section {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.upper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

}




.primary-btn {
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 65px;
}

.log {
font-size:medium;
}
.indicator {
  width: 100px;
  height: 150px;
  border: 2px solid #fff;
  border-radius: 50px;
  position: relative;
}.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}



.info-bundle{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.info-icon{
  width:150px;

}
.info-text{
font-size: medium;
color:black;

}
.background-img{
  height:40vh;
  background-attachment: fixed;
  background-image:url(../../../../assets/img/landing-background2.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;

}
.background-img2{
  height:40vh;
  background-attachment: fixed;
  background-image:url(../../../../assets/img/landing-background1.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;

}
/*/////////////////////////////////////////////////////////////////////////*/
.content-left {
  background-color: rgb(111, 182, 148);
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  background-image: url(../../../../assets/img/1234.jpg);
  height: 350px;

}

.content-center {
  background-color: rgb(102, 166, 164);
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  background-image: url(../../../../assets/img/123.jpg);
  height: 350px;
}

.content-right {
  background-color: powderblue;
  background-size: cover;
  background-position: 50% 100%;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  height: 350px;
  background-image: url(../../../../assets/img/12345.jpg);
}

/* CARD TEXT STYLE */
.custom-card h1 {

  font-weight: 900;
  padding: 10px 0;
}

.custom-card h2 {
  font-weight: 500;
  padding: 5px 0;
}


.custom-card a {

color: white;
  font-weight: 500;
  font-size: 16px;

  padding: 5px 0;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: red;
  width: 100px;


}
.photo{
  width:200px ;
}

#carousel .swiper-carousel .swiper-slide {
  width: 220px !important;
  height: 380px;
}
