.hero-section{
  display: flex;
  flex-direction: row;
  position: relative;

  }
  .upper{
    display: flex;
   flex-direction: row;
   justify-content: start !important;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.579);
    align-items: center;
  }
  .wellcome-text{
  color: white;
  text-align: center;
  font-size: 10vh;
  }
/* @import url('./common.css'); */


  .navbar-item a:hover {

  color: var(--primary-color);
  border-bottom: solid 1.5px;

  transition:all;
  transition-duration: 1.2s;

  }
.primary-btn
{
  color: white;
  border-radius:5px;
  width: 200px;
  height: 60px;
  background-color: var(--primary-color);
}


