<!-- ////////////////////////// -->
<div class="hero-section" id="hero">
  <app-nav2></app-nav2>
  <video preload loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="background-video">
    <source src="assets/video/Wedding.mp4" type="video/mp4" />
  </video>
  <div class="upper">
    <div class="container">
      <p class="display-2 text-white">نشاركك ادق التفاصيل</p>
      <p class="text-white fs-5">بكل سهولة حدد المناسب لك ونحن سنهتم بالبقية</p>
      <p class="text-white fs-5">من بيتك وبضغطة زر</p>

      <!-- <p class="wellcome-text"> اختر{{cat[0]}}</p> -->
      <div class="d-flex gap-2 mt-5 ">
        <button class="primary-btn" routerLink="/register">احجز حفل زفافك الان</button>
        <div class="log d-flex align-items-center"><span class="text-white ">
            هل لديك حساب بالفعل ؟
            <a class="text-primary text-decoration-none" routerLink="/login">سجل دخولك</a>
          </span>
        </div>
      </div>
      <a (click)="go2()"><svg class="arrows">
          <path href="#" class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg></a>
    </div>
  </div>
</div>



<!-- ////////////////////////// -->

<div class="map-container mt-5 container  " id="map">

  <div class="map-photo row row-cols-1 row-cols-md-2 justify-content-center align-items-center">
    <div>
      <h4 class="text-muted mt-3 mb-3 ">اول واكبر موقع لتنظيم الافراح والمناسبات في مصر</h4>
      <div class="d-flex flex-row gap-2  align-items-center">
        <i class="fa-solid fa-angles-left"></i>
        <p class="mt-3 fs-5">بسيط وسهل الاستخدام</p>
      </div>
      <div class="d-flex flex-row gap-2  align-items-center">
        <i class="fa-solid fa-angles-left"></i>
        <p class="mt-3 fs-5">متعدد الفئات والخدمات</p>
      </div>
      <div class="d-flex flex-row gap-2  align-items-center">
        <i class="fa-solid fa-angles-left"></i>
        <p class="mt-3 fs-5">سهولة في عملية الدفع</p>
      </div>
      <div class="d-flex flex-row gap-2  align-items-center">
        <i class="fa-solid fa-angles-left"></i>
        <p class="mt-3 fs-5">توفير الوقت والجهد</p>
      </div>
    </div>
    <img class="map-img mt-5" src="assets/svg/egypt.avif" alt="" />
  </div>

</div>

<div class="sec-1 container d-flex pt-5  justify-content-center flex-column" id="sec1">
  <h2 class="text-primary text-center fs-1">ما الذي علي فعله ؟</h2>

  <div class="info d-flex gap-5 justify-content-center py-5 mt-3">
    <a class="info-bundle"> <img class="info-icon" src="/assets/gif/register.gif">
      <p class="info-text fs-5 pt-4 ">قم بالتسجيل بالموقع</p>
    </a>
    <a class="info-bundle"><img class="info-icon" src="/assets/gif/choose.gif">
      <p class="info-text fs-5 pt-4">اختر من مقدمي الخدمة ما يناسبك</p>
    </a>
    <a class="info-bundle"><img class="info-icon" src="/assets/gif/pay.gif">
      <p class="info-text fs-5 pt-4">ادفع عربوناً </p>
    </a>
  </div>

</div>
<!-- <div class="bbb ">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#23c0c9" fill-opacity="0.4" d="M0,32L1440,192L1440,320L0,320Z"></path></svg>
</div> -->


<div class="background-img">
</div>
<!-- <div class="bbb ">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#23c0c9" fill-opacity="0.4" d="M0,32L1440,192L1440,0L0,0Z"></path></svg>
</div> -->
<div class="sec-2 container d-flex py-5  justify-content-center flex-column" id="sec2">
  <h2 class="text-primary ms-3">فئات مقدمي الخدمة</h2>
  <div class="mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-left  text-white  d-flex flex-column justify-content-between">

          <h2>مصور فوتوغرافي</h2>


          <a href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-center text-white d-flex flex-column justify-content-between">

          <h2>خبير تجميل</h2>

          <a href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-right text-white d-flex flex-column justify-content-between">

          <h2>منظم حفلات</h2>

          <a href="#">اكتشف الان</a>
        </div>
      </div>
    </div>
    <div class=" d-flex justify-content-end"> <a
        class="justify-content-end  text-primary fs-5 mt-5 text-decoration-none " routerLink="/vendors">اكتشف المزيد</a>
    </div>
  </div>

</div>

<div class="background-img2">
</div>
<div class="py-5">
  <h2 class="text-primary ms-3 mb-5">مقدمو الخدمة الأكثر طلباً</h2>
  <div>
    <app-carousel [slides]="slides" [slideWidth]="'450px'"></app-carousel>
  </div>
</div>
<div id="contact"></div>
<div class=" d-flex flex-row mt-5 justify-content-around">

  <div class="info-text mt-5 mx-5">
    <h1 class="text-start text-primary">تحتاج الي مساعدة</h1>
    <h4 class="text-muted mt-3">تواصل مع فريق العمل في حالة اي استفسار</h4>
    <button class="btn btn-primary mt-5 contact-btn" routerLink="/contact">تواصل معنا</button>

  </div>
  <div class="contact-img ">
    <img src="../../../../assets/svg/contact.svg" alt="" />
  </div>
</div>
<app-footer></app-footer>
