<!-- Navbar  -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark p-md-3">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="nav-logo col-2 d-flex flex-column justify-content-center">
        <a class="navbar-brand" routerLink="">مـــــراســـم</a>
      </div>
      <button class="ms-auto navbar-toggler col-2 btn btn-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-8 nav-items justify-content-end" id="navbarNav">
        <ul class="navbar-nav navbar-list align-items-center gap-3">
          <li class="navbar-item">
            <a class="nav-link" routerLink="/">الرئيسية</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/vendors">الخدمات</a>
          </li>

          <li class="navbar-item">
            <a class="nav-link" routerLink="/contact">اتصل بنا</a>
          </li>
          <li class="text-white-50">|</li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/contact">سجل كمنظم</a>
          </li>

          <!-- <ng-container *ngIf="!isLogged">
                  <li class="navbar-item ">
                    <button class="btn btn-outline-primary m-1" routerLink="/login" > تسجيل الدخول</button>
                    <button class="btn btn-outline-primary m-1" routerLink="/register" > سجل الان</button>
                  </li>
                </ng-container>
                 <ng-container *ngIf="isLogged">
                  <li class="navbar-item ">
                        <div class="dropdown  ">
                    <a href="#" class="d-flex align-items-center text-primary text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="50" height="50" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">محمد احمد</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-white text-small shadow">
                        <li><a class="dropdown-item" routerLink="view-profile">البيانات الشخصية</a></li>
                        <li><a class="dropdown-item" routerLink="edit-profil">تعديل البيانات</a></li>
                        <li><a class="dropdown-item" routerLink="reservation">الحجوزات</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item btn" (click)="logout()">تسجيل الخروج</button></li>
                    </ul>
                </div>
                  </li>
                </ng-container> -->
        </ul>
      </div>
    </div>
  </div>
</nav>



<!-- ////////////////////////// -->
<div class="hero-section">
  <video preload loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="background-video">
    <source src="assets/video/Wedding.mp4" type="video/mp4" />
  </video>
  <div class="upper">
    <div class="container">
      <p class="display-2 text-white">نشاركك ادق التفاصيل</p>
      <p class="text-white fs-5">بكل سهولة حدد المناسب لك ونحن سنهتم بالبقية</p>
      <p class="text-white fs-5">من بيتك وبضغطة زر</p>

      <!-- <p class="wellcome-text"> اختر{{cat[0]}}</p> -->
      <div class="d-flex gap-2 mt-5 ">
        <button class="primary-btn">احجز حفل زفافك الان</button>
        <div class="log d-flex align-items-center"><span class="text-white ">
            هل لديك حساب بالفعل ؟
            <a class="text-primary text-decoration-none">سجل دخولك</a>
          </span>
        </div>
      </div>
      <a href=""><svg class="arrows">
          <path href="#" class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg></a>
    </div>
  </div>
</div>

<!-- ////////////////////////// -->


<div class="sec-2 d-flex py-5  justify-content-center flex-column">
  <h1 class="text-primary text-center">ما الذي علي فعله ؟</h1>
  <div class="info d-flex gap-5 justify-content-center py-5">
    <a class="info-bundle"> <img class="info-icon" src="../../../../assets/gif/register.gif">
      <p class="info-text fs-5 py-4 ">قم بالتسجيل بالموقع</p>
    </a>
    <a class="info-bundle"><img class="info-icon" src="../../../../assets/gif/choose.gif">
      <p class="info-text fs-5 py-4">اختر من مقدمي الخدمة ما يناسبك</p>
    </a>
    <a class="info-bundle"><img class="info-icon" src="../../../../assets/gif/pay.gif">
      <p class="info-text fs-5 py-4">ادفع عربوناً </p>
    </a>
  </div>
</div>

<div class="background-img">
</div>

<div class="sec-2 container d-flex py-5  justify-content-center flex-column">
  <h1 class="text-primary ms-3">فئات مقدمي الخدمة</h1>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-left  text-white  d-flex flex-column justify-content-between">

          <h1>مصور فوتوغرافي</h1>


          <a href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-center text-white d-flex flex-column justify-content-between">

          <h1>خبير تجميل</h1>

          <a href="#">اكتشف الان</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="custom-card content-right text-white d-flex flex-column justify-content-between">

          <h1>منظم حفلات</h1>

          <a href="#">اكتشف الان</a>
        </div>
      </div>
    </div>
    <div class=" d-flex justify-content-end"> <a
        class="justify-content-end  text-primary fs-5 mt-5 text-decoration-none ">اكتشف المزيد</a></div>
  </div>

</div>

<div class="background-img2">
</div>
<div class="py-5">
  <h1 class="text-primary ms-3 mb-5">مقدمو الخدمة الأكثر طلباً</h1>
  <div>
    <app-carousel [slideWidth]="'450px'"></app-carousel>
  </div>
</div>
<app-footer></app-footer>
