<div id="app">
  <!-- Carousel slider -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <ng-container  *ngFor="let slide of slides;let i = index">
        <div class="swiper-slide" [ngClass]="{'active-slide':i==3}">
          <!-- elements with  "swiper-carousel-animate-opacity" class will have animated opacity -->
          <div class="swiper-carousel-animate-opacity">
            <img src="{{slide.image}}" alt="">
            <div class="slide-content text-white text-center">
              <h2>{{slide.title}}</h2>
              <p class="text-white">{{slide.description}}</p>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>