.translateY {
    opacity: 0;
    transform: scale(0);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}