<!-- <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.rtl.css"> -->
<div class="container py-3">
    <div class="d-flex flex-column gap-2 mb-3">
        <div>
            <label class="fw-bold fs-3 mb-3" for="budget-input">الميزانية</label>
            <input #budget min="0" type="number" class="form-control" id="budget-input">
        </div>
        <select class="form-select" title="محافظتك" #govId>
            <option selected [ngValue]="null">اختر محافظتك</option>
            <ng-container *ngFor="let gov of govenorates">
                <option [value]="gov.id">{{gov.nameAr}}</option>
            </ng-container>
        </select>
        <select class="form-select" title="مدينتك" #cityId>
            <option selected [ngValue]="null" value="">اختر مدينتك</option>
            <ng-container *ngFor="let city of cities">
                <option [value]="city.id">{{city.nameAr}}</option>
            </ng-container>
        </select>
    </div>
    <div class="row row-cols-md-4">
        <div *ngFor="let category of categories">
            <label for="category-{{category.id}}">
                <app-category-card [category]="category" [picUrl]="categoryService.getCategoryPicture(category.id)"></app-category-card>
            </label>
            <div class="mb-4 mt-2">
                <div class="d-flex flex-column">
                    <input min="0" max="100" class="rounded-0 rounded-top-4 form-control categoryPrice"
                        id="category-{{category.id}}" type="number" placeholder="النسبة" required>
                </div>
                <div class="d-flex rounded-bottom-4 overflow-hidden w-100">
                    <button class="primary-btn rounded-0 w-100" (click)="addCategoryPrice(category.id)">إضافة</button>
                    <button class="danger-btn rounded-0 w-100" (click)="removeCategoryPrice(category.id)">حذف</button>
                </div>
            </div>
        </div>
    </div>
    <button class="success-btn w-100" (click)="sumbit()">sss</button>
</div>