/* @import url('./common.css'); */

/* card-info */

.main-photo{

  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  object-fit:cover;

}


.list-group a{
  text-decoration: none;
  color: black;

}


/* form */
.form{
  border: 5px solid grey;
  width: 400px;
  height: 500px;
}


/* card style */



