<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../assets/css/customer-profile.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../assets/css/common.css"> -->
</head>

<body>
  <div class="container p-3">
    <h1 class="text-center text-primary">تعديل البيانات</h1>
    <div class="row">
      <div class="col-xs-6 col-md-4 text-center">
        <div class="card p-3 mt-3">
          <img class="main-photo img-fluid img-thumbnail" src="../assets/img/photo_session.webp" alt="..." />
          <div class="card-body">
            <h5 class="card-title">صهيب احمد محمد</h5>
            <p class="card-text">sohaybahmed@gmail.com</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a routerLink="/view-profile" class="card-link">الحساب الشخصى</a>
            </li>
            <li class="list-group-item">
              <a routerLink="/reservation" class="card-link">الحجوزات</a>
            </li>
            <li class="list-group-item">
              <a routerLink="view-proifle" class="card-link">تفاصيل الدفع</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-md-8">
        <div class="card mt-3">
          <div class="card-body">
            <div>
              <label for="inputEmail4" class="form-label py-1">الاسم</label>
              <input type="email" class="form-control py-1" id="inputEmail4" />
            </div>
            <div>
              <label for="picture" class="pic-label  border-2 w-100 p-2">
                تغيير الصورة
              </label>
              <input #UploadPic class="form-control" id="picture"  type="file" name="picture" placeholder="profile picture"
                formControlName="Picture" />
            </div>


            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary w-100 py-1">
                حفظ التغيرات
              </button>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <div>
              <label for="update_email_input" class="form-label py-1">
                تحديث الأيميل</label>
              <input type="email" class="form-control py-1" id="update_email_input" />
            </div>
            <div>
              <label for="inputPassword4" class="form-label py-1">كلمة المرور
              </label>
              <input type="password" class="form-control py-1" id="inputPassword4" />
            </div>

            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary w-100">
                حفظ التغيرات
              </button>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-body">
            <div>
              <label for="update_password_input" class="form-label py-1">كلمة المرور الحالية
              </label>
              <input type="password" class="form-control py-1" id="update_password_input" />
            </div>
            <div>
              <label for="update_password_input" class="form-label py-1">كلمة المرور الجديدة</label>
              <input type="password" class="form-control py-1" id="update_password_input" />
            </div>
            <div>
              <label for="update_password_input" class="form-label py-1">تأكيد كلمة المرور الجديدة</label>
              <input type="password" class="form-control py-1" id="update_password_input" />
            </div>

            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary w-100">
                حفظ التغيرات
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/js/customer-profile.js"></script>
</body>

</html>
