<footer class="footer" id="foot">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4 class="ms-4">مراسم</h4>
        <ul>
          <li><a routerLink="vendors">خدماتنا</a></li>
          <li><a href="#">من نحن</a></li>
          <li><a href="#">سياسة الخصوصية</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4 class="ms-4">مساعدة</h4>
        <ul>
          <li><a routerLink="/vendor/info">التعليمات</a></li>
          <li><a routerLink="/contact">اتصل بنا</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4 class="ms-4">تعرف علي</h4>
        <ul >
          <li><a routerLink="vendors">الفئات</a></li>
          <li><a href="#">الاكثر تقيما</a></li>
          <li><a href="#">طريقة الدفع</a></li>

        </ul>
      </div>
      <div class="footer-col" >
        <h4>تابـعنا</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
