.category-card {
    position: relative;
    border-radius: 1rem;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.black_banner
{
    position: absolute;
    inset: 0;
    background-color: #00000077;
    transition : all 1s ease;
}
.category-card:hover .black_banner {
    transform: translateX(100%);
    opacity: 0;
}

/* [1] The container */
.img-hover-zoom {
    height: 50vh;
    /*[1.1] Set it as per your need */
    width: 100%;
    /* max-width: 400px; */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    position: relative;
    z-index: -5;
    filter: grayscale(.8);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .8s ease;
}


.img-hover-zoom:hover>img {
    transform: scale(1.2);
    filter: unset;
}