<div id="p_c{{postID}}" class="carousel slide" [attr.data-bs-target]="'#p_c'+postID">
    <!-- OL Here -->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" *ngFor="let attachment of attachments; let i = index" [class.active]="i === 0">
            <img [src]="attachment.attachmentUrl" alt="{{postTitle}}">
        </div>
    </div>
    <ng-container *ngIf="attachments.length>1">
        <button class="carousel-control-prev bg-dark bg-opacity-25" type="button" [attr.data-bs-target]="'#p_c'+postID" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-dark bg-opacity-25" type="button" [attr.data-bs-target]="'#p_c'+postID" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </ng-container>
</div>



<!-- <ol class="carousel-indicators">
    <li [attr.data-bs-target]="'#c'+post.id" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="First Attachment"></li>
    <li *ngFor="let attachments of post.attachments.slice(1,post.attachments.length); let i = index"
    [attr.data-bs-target]="'#c'+post.id" [attr.data-bs-slide-to]="1+i" [attr.aria-label]="1+i + ' Attachment'">
    </li>
</ol> -->