<section>
    <div class="container">
        <div class="mb-3">
            <!-- Temp Text -->
            <h1 class="fs-3 text-center text-primary">
                مقدمي الخدمات المناسبين لك
            </h1>
            <p class="fs-5">
                اختر أفضل مقدمي الخدمات الذين يناسبون احتياجاتك بالضبط عبر الفئات التي تريدها،
                 وسنقوم بتجميعهم في حزمة مخصصة لك تلبي متطلباتك بالكامل.
            </p>
        </div>
        <form [formGroup]="form">
            <div id="package_components"
                class="package_components row row-cols-sm-1 row-cols-md-2 row-cols-lg-5 g-3 justify-content-center mb-3">
                <div class="d-flex justify-content-center align-items-stretch">
                    <div class="checkbox-wrapper img-hover-zoom d-inline-block">
                        <div class="black_banner d-flex flex-column justify-content-center">
                            <div class="display-4 text-center text-white">
                                <label class="text-white" for="photographer_checkbox">
                                    مُـــصور
                                </label>
                            </div>
                        </div>
                        <input class="form-check-input" name="categories[]" formControlName="Categories" type="checkbox" value="photographer"
                            id="photographer_checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                        <img class="w-100" src="../assets/img/photo_session.webp" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-stretch">
                    <div class="checkbox-wrapper img-hover-zoom">
                        <div class="black_banner d-flex flex-column justify-content-center">
                            <div class="display-4 text-center text-white">
                                <label class="text-white" for="hairdresser_checkbox">
                                    كـــوافير
                                </label>
                            </div>
                        </div>
                        <input class="form-check-input" name="categories[]" formControlName="Categories" type="checkbox" value="hairdresser"
                            id="hairdresser_checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                        <img src="../assets/img/hairdresser.webp" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-stretch">
                    <div class="checkbox-wrapper img-hover-zoom">
                        <div class="black_banner d-flex flex-column justify-content-center">
                            <div class="display-4 text-center text-white">
                                <label class="text-white" for="restaurant_checkbox">
                                    مـــطعم
                                </label>
                            </div>
                        </div>
                        <input class="form-check-input" name="categories[]" formControlName="Categories" type="checkbox" value="restaurant"
                            id="restaurant_checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                        <img src="../assets/img/chefs.webp" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-stretch">
                    <div class="checkbox-wrapper img-hover-zoom">
                        <div class="black_banner d-flex flex-column justify-content-center">
                            <div class="display-4 text-center text-white">
                                <label class="text-white" for="hall_checkbox">
                                    قـــاعة
                                </label>
                            </div>
                        </div>
                        <input class="form-check-input" name="categories[]" formControlName="Categories" type="checkbox" value="hall"
                            id="hall_checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                        <img src="../assets/img/hall.webp" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-stretch">
                    <div class="checkbox-wrapper img-hover-zoom">
                        <div class="black_banner d-flex flex-column justify-content-center">
                            <div class="display-4 text-center text-white">
                                <label class="text-white" for="club_checkbox">
                                    نـــادي
                                </label>
                            </div>
                        </div>
                        <input class="form-check-input" name="categories[]" formControlName="Categories" type="checkbox" value="club"
                            id="club_checkbox">
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                        <img src="../assets/img/club.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="row row-cols-2">
                <div class="mb-3">
                    <label for="budget_input" class="form-label fs-4">المـــيـــزانــيــة</label>
                        <input id="budget_input_value" class="form-control" placeholder="10000" [value]="budget"
                        [ngModel]="budget"
                        (ngModelChange)="budget = $event"
                        formControlName="Budget"
                        >
                        <input class="PB-range-slider" type="range" name="Budget" id="budget_input"
                    min="10000" max="100000" step="1000" formControlName="Budget" [(ngModel)]="budget">
                </div>
                <div class="g-4 mb-4">
                    <div class="d-flex align-items-center gap-3">
                        <i class="fa-solid fa-city"></i>
                        <select class="form-control" type="text" id="govInput" name="gov"
                            formControlName="GovId" placeholder="محافظتك" #gov>
                            <option selected [value]="null">اختر محافظتك</option>
                            <ng-container *ngFor="let gov of govs">
                                <option [value]="gov.id">{{gov.nameAr}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="text-danger my-2"
                        *ngIf="form.controls['GovId'].hasError('required') && form.controls['GovId'].touched">
                        اختر محافظتك
                    </div>
                </div>

                <div class="g-4 mb-4" *ngIf="form.controls['GovId'].value !== null">
                    <div class="d-flex align-items-center gap-3">
                        <i class="fa-solid fa-building-circle-arrow-right"></i>
                        <select class="form-control" type="text" id="cityInput" name="city"
                            formControlName="CityId" placeholder="مدينتك" #gov>
                            <option selected [value]="null">اختر مدينتك</option>
                            <ng-container *ngFor="let city of cities">
                                <option [value]="city.id">{{city.nameAr}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="text-danger my-2"
                        *ngIf="form.controls['CityId'].hasError('required') && form.controls['CityId'].touched">
                        اختر مدينتك
                    </div>
                </div>
                
            </div>
            <!-- Change This Button Name -->
            <a href="./generated.html" class="btn btn-outline-primary w-100">Generate <sub>To be replaced</sub></a>
        </form>
    </div>
</section>