<div *ngIf="invitation">
  <app-cover [invitation]="invitation"></app-cover>
<section id="bride_groom_section">
  <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center gap-5">
    <app-bride-groom [invitation]="invitation"></app-bride-groom>
    <app-counter [date]="invitation.date"></app-counter>
  </div>
</section>
<footer class="bg-dark py-4 text-center">
  <a class="text-white text-decoration-none fs-1 fw-bold" routerLink="/">مراسم</a>
</footer>
</div>