

.h2 {
  color: #444;
  font-family: 'PT Sans', sans-serif
}

thead {
  font-weight: bolder;
  font-size: 20px;
  color: #666
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button{
  max-height: 100vh;
}

/* this is a recreation of twitter search in css */
.searchInput {
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.searchInput {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search {
  position: absolute;
  fill: var(--text-color);
  right: var(--inline-padding-of-input);
}
/* svg -- size */
/* svg {
  width: 17px;
  display: block;
} */
/* styling of input */
.input {
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  border: unset;
  outline: unset;
}
.searching{
  width: 70%;
  scale: 90%;
}


@media(max-width:575px) {
  .container {
      width: 125%;
      padding: 20px 10px
  }
}
