<h1 class="text-center text-primary mt-3">لوحة التحكم</h1>
<div class="d-flex flex-row justify-content-center gap-4 mt-5">
  <div class="card d-flex flex-row bg-danger border p-2 justify-content-between">
    <i class="icon-red fas fa-user-tie fa-fw fs-1 p-2"></i>
    <div class="d-flex flex-column p-2">
      <p class="text-end fs-3 text-white">254</p>
      <h4 class="text-white">مقدمو الخدمة</h4>
    </div>
  </div>

  <div class="card d-flex flex-row bg-warning border p-2 justify-content-between">
    <i class="icon-yallow fas fa-user fa-fw fs-1 p-2"></i>
    <div class="d-flex flex-column p-2">
      <p class="text-end fs-3 text-white">727</p>
      <h4 class="text-white">العملاء</h4>
    </div>
  </div>

  <div class="card d-flex flex-row bg-primary border p-2 justify-content-between">
    <i class="fas fa-layer-group fa-fw fs-1 p-2"></i>
    <div class="d-flex flex-column p-2">
      <p class="text-end fs-3 text-white">13</p>
      <h4 class="text-white">الفئات</h4>
    </div>
  </div>

  <div class="card d-flex flex-row bg-success border p-2 justify-content-between">
    <i class="icon-green fas fa-dollar fa-fw fs-1 p-2"></i>
    <div class="d-flex flex-column p-2">
      <p class="text-end fs-3 text-white">345</p>
      <h4 class="text-white">عمليات الدفع</h4>
    </div>
  </div>

</div>
