<div class="d-flex vendor-card">
    <div class="img-hover-zoom
      bg-gradient
      text-white
      w-100
      position-relative">

        <div class="black_banner
        card-body
        d-flex
        flex-column
        justify-content-end
        text-center">

            <p class="card-title display-6">الأســـم</p>
            <div class="card-text">
                <span>الوصــف</span>
                <br />
                <span>مُصور</span>
            </div>
        </div>
        <img class="card-img my-auto rounded-circle shadow bg-dark bg-gradient" src="../assets/svg/profile_pic.svg"
            alt="Title" />
    </div>
</div>