<section class="d-flex flex-column justify-content-center min-vh-100">
    <div class="container border-0">
        <div class="row row-cols-md-2 row-cols-md-1 align-items-center gx-4 gy-5">
            <div class="py-4 px-5 border-0 shadow">
                <form class="d-flex flex-column gap-2" action="">
                    <div>
                        <p class="display-3 text-center">تسجيل</p>
                    </div>
                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="full_name">
                            <i class="fa-duotone fa-user fs-3"></i>
                        </label>
                        <input id="full_name" class="border-0 border-bottom border-2 w-100 p-2" type="text"
                            name="full_name" placeholder="الأسم" />
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="email">
                            <i class="fa-duotone fa-envelope fs-3"></i>
                        </label>
                        <input id="email" class="border-0 border-bottom border-2 w-100 p-2" type="email" name="email"
                            placeholder="البريد الألكتروني" />
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="password">
                            <i class="fa-duotone fa-key fs-3"></i>
                        </label>
                        <input id="password" class="border-0 border-bottom border-2 w-100 p-2" type="password"
                            name="password" placeholder="كلمة السر" />
                    </div>

                    <!-- <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="confirm_password">
                                <i class="fa-duotone fa-key"></i>
                            </label>
                            <input id="confirm_password" class="border-0 border-bottom border-2 w-100 p-2"
                                type="password" name="confirm_password" placeholder="تأكيد كلمة السر" />
                        </div> -->
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="phone">
                                <i class="fa-duotone fa-phone fs-3"></i>
                            </label>
                            <input id="phone" class="border-0 border-bottom border-2 w-100 p-2" type="tel" name="phone"
                                placeholder="رقم الهاتف" />
                        </div>
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="national_id">
                                <i class="fa-duotone fa-id-card fs-3"></i>
                            </label>
                            <input id="national_id" class="border-0 border-bottom border-2 w-100 p-2" type="text"
                                name="national_id" placeholder="الرقم القومي" />
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="gender">
                                <i class="fa-duotone fa-venus-mars fs-3"></i>
                            </label>
                            <select class="border-0 border-bottom border-2 w-100 p-2" name="gender" id="gender"
                                aria-label="gender">
                                <option value="النوع" selected disabled hidden>
                                    النوع
                                </option>
                                <option value="ذكر">ذكر</option>
                                <option value="أنثى">أنثى</option>
                            </select>
                        </div>
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="picture">
                                <i class="fa-duotone fa-face-viewfinder fs-3"></i>
                            </label>
                            <input id="picture" class="border-0 border-bottom border-2 w-100 p-2" type="file"
                                name="picture" placeholder="profile picture" />
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="agreement" id="agreement"
                            aria-label="agreement" />
                        <label for="agreement">
                            <a href="" class="text-decoration-none text-primary">
                                اقبل الشروط والأحكام
                            </a>
                        </label>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary w-100 fs-5">
                            تسجيل
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <div class="w-75 mx-auto d-flex flex-column align-items-center">
                    <img class="animated_border_radius bg-primary bg-gradient shadow w-100 mb-3"
                        src="../assets/img/register_.png" alt="" />
                    <div class="text-center">
                        <span>لديك حساب بالفعل ؟</span>
                        <br class="d-block d-lg-none">
                        <a class="fs-3 link-primary text-decoration-none" routerLink="/login">
                            تسجيل الدخول
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>