section {
    overflow-x: hidden;
}

input:not([type="checkbox"], [type="radio"]),
select,
.pic-label {
    position: relative;
    outline: unset;
    overflow: visible;
    min-height: 3rem;
}

input:focus {
    border-color: rgb(100, 100, 100) !important;
}


.animated_border_radius {
    /* border-radius: 64% 36% 65% 35% / 43% 56% 44% 57% ; */
    border-radius: 80% 20% 25% 75% / 33% 17% 83% 67%;
    /* background-color: var(--primary-color); */
    animation: animated_radius 20s infinite ease-in-out;
}


@keyframes animated_radius {
    0% {
        /* border-radius: 64% 36% 65% 35% / 43% 56% 44% 57% ; */
        border-radius: 80% 20% 25% 75% / 33% 17% 83% 67%;
    }

    50% {
        /* border-radius: 28% 72% 24% 76% / 62% 37% 63% 38% ; */
        border-radius: 33% 67% 83% 17% / 80% 75% 25% 20%;
    }

    100% {
        border-radius: 80% 20% 25% 75% / 33% 17% 83% 67%;

    }
}

.Password__strength-meter{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  --font-main: "PingARLT",serif;
  --infinte-color: #76e8cd;
  --swiper-pagination-bottom: -58px;
  font-family: var(--font-main);
  font-size: 15px;
  color: #444;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 4px;
  height: 5px;
  position: relative;
  width: 200px;
}
.Password__strength-meter--fill{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  --font-main: "PingARLT",serif;
  --infinte-color: #76e8cd;
  --swiper-pagination-bottom: -58px;
  font-family: var(--font-main);
  font-size: 15px;
  color: #444;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  background: 0 0;
  border-radius: inherit;
  height: inherit;
  position: absolute;
  transition: width .5s ease-in-out,background .25s;
  background-color: #00af6c;
  width: 100%;
}
