<section class="min-vh-100 d-flex flex-column justify-content-center">
    <div class="container border-0">
        <div class="row row-cols-md-2 row-cols-md-1 align-items-center g-4">
            <div class="py-4 px-5 border-0 shadow rightSide">
                <form [formGroup]="registerForm" (ngSubmit)="register()" class="d-flex flex-column gap-2" action="">
                    <div>
                        <p class="display-6 text-center">تسجيل</p>
                    </div>
                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="full_name">
                            <i class="fa-solid fa-user fs-3"></i>
                        </label>
                        <input id="full_name" class="border-0 border-bottom border-2 w-100 p-2" type="text"
                            name="full_name" placeholder="الأسم" formControlName="name">
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="email">
                            <i class="fa-solid fa-envelope fs-3"></i>
                        </label>
                        <input id="email" class="border-0 border-bottom border-2 w-100 p-2" type="email" name="email"
                            placeholder="البريد الألكتروني" formControlName="email">
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="password">
                            <i class="fa-solid fa-key fs-3"></i>
                        </label>
                        <input id="password" class="border-0 border-bottom border-2 w-100 p-2" type="password"
                            name="password" placeholder="كلمة السر" formControlName="password">
                    </div>

                    <div class="mb-3 d-flex align-items-center gap-3">
                        <label for="password">
                            <i class="fa-solid fa-key fs-3"></i>
                        </label>
                        <input id="confirm-password" class="border-0 border-bottom border-2 w-100 p-2" type="password"
                            name="ConfirmPassword" placeholder="تأكيد كلمة السر" />
                    </div>
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="phone">
                                <i class="fa-solid fa-phone fs-3"></i>
                            </label>
                            <input id="phone" class="border-0 border-bottom border-2 w-100 p-2" type="tel" name="phone"
                                placeholder="رقم الهاتف" formControlName="phoneNumber">
                        </div>
                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="national_id">
                                <i class="fa-solid fa-id-card fs-3"></i>
                            </label>
                            <input id="national_id" class="border-0 border-bottom border-2 w-100 p-2" type="text"
                                name="national_id" placeholder="الرقم القومي" formControlName="SSN">
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-2">

                        <div class="mb-3 d-flex align-items-center gap-3">
                            <label for="male" class="d-flex align-items-center gap-4">
                                <i class="fa fa-male fs-3"></i>
                                <span>رجُل</span>
                            </label>
                            <input class="form-check-input" title="male" type="radio" name="gender" id="male"
                                value="male" formControlName="gender">
                            <label for="female" class="d-flex align-items-center gap-4">
                                <i class="fa-solid fa-person-dress fs-3"></i>
                                <span>أُنثى</span>
                            </label>
                            <input class="form-check-input" title="female" type="radio" name="gender" id="female"
                                value="female" formControlName="gender">
                        </div>
                        <div class="file-upload mb-3 d-flex align-items-center gap-3">
                            <i class="fa-solid fa-camera fs-3"></i>
                            <label for="picture" class="pic-label border-0 border-bottom border-2 w-100 p-2">
                                <span>أضف صورتك</span>
                            </label>
                            <input #UploadPic id="picture" class="d-none" type="file" name="picture"
                                placeholder="profile picture" />
                        </div>
                    </div>
                    <span class="ms-auto">{{PicName}}</span>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="agreement" id="agreement"
                            aria-label="agreement" />
                        <label for="agreement">
                            <a href="" class="text-decoration-none text-primary">
                                اقبل الشروط والأحكام
                            </a>
                        </label>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary w-100 fs-5">
                            تسجيل
                        </button>
                    </div>
                </form>
            </div>
            <div class="leftSide">
                <div class="w-75 mx-auto d-flex flex-column align-items-center">
                    <img class="animated_border_radius bg-primary bg-gradient shadow w-100 mb-3"
                        src="../assets/img/register_.png" alt="" />
                    <div class="text-center">
                        <span>لديك حساب بالفعل ؟</span>
                        <br class="d-block d-lg-none">
                        <a class="fs-3 link-primary text-decoration-none" routerLink="/login">
                            تسجيل الدخول
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>